.avatar a{
	display: block;
}
.avatar img{
	padding-top: 5px;
	width: 50px;
	height: 50px;
}
.stream .item{
	background-color: aquamarine;
	border-bottom: solid 1px grey;
}
.stream .combine{
/* 	border-left: solid 1px grey;
	border-right: solid 1px grey; */
}
.stream .combine>.row{
	margin: 0;
}
.stream .origin{
	background-color: deepskyblue;
	border-top: solid 1px;
}
.l-side, .r-side{
	background-color: lightgreen;
}
.author{
	color: black;
}
body>.container{
	margin-top: 50px;
}
.top-box{
	padding: 10px;
}
.top-box .input{
	height: 100px;
}