body{
	font-family: tahoma,arial,helvetica,verdana;
}
#left-side{
	float: left;
	width: 25%;
}
#main{
	float: left;
	width: 50%;
}
#right-side{
	float: left;
	width: 25%;
	text-align: right;
}
footer{
	clear: both;
	text-align: center;
	background-color: silver;
}
.post{
	text-align: center;
}
.post-stream{
	background-color: lightgreen;
}
.post-box{
	border: 1px solid gray;
	padding: 5px;
}
.avatar-block{
	float: left;
}
.post-box div{
	/*float: left;*/
}
.avatar{
	width: 50px; height: 50px;
}
.author{
	color: #6F4D26;
}
.content{
	padding: 5px;
}